/* 
nav{
  display: flex;
  justify-content: space-between;
}
nav ul{
  list-style: none;
  text-decoration-line: underline;
}
nav ul li{
  display: inline-block;
  margin: 10px;
}
  .footer{
    position: absolute;
  bottom: 0;
  text-align: center;
  padding: 20px;

  }
 .footer{
  border-top: 2px solid;
  width: 100%;

  display: flex;          
  justify-content: space-around
  
  
}

h2{
  text-align: center;
  margin-top: 50px;
  font-size: 100px;
  font-weight: normal;

}
  .footer li{
    list-style: none;
    text-decoration: underline;

  } */
.card{
  border:1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0,0, 0,1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}
.card img{
  width:80%;
  height: auto;
  border-radius: 50%;

}
.card h2,p{
  font-family: 'Courier New', Courier, monospace;
}